


body {
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #333;
	background-color: #FFF;
	
}
.title, #choices {
color: #785334;
text-shadow: 1.5px 1.5px 5px #ffeeb9, 1px 1px 5px #ffeeba;	
text-align: center;
}

.title {
margin: 30px 0 100px 0;
font-size:60px;
text-align: center;
}

#choices {
	margin: 20px 0 30px 0;
font-size:40px;
text-align: center;

}

#home {
	background: url(../images/background4.jpg) no-repeat 50% 50%;
	background-size: cover;
	background-attachment: relative;
	width: 100%;
	color:#F;
}


input[type="radio"], [type="checkbox"] {
	position: relative;
	cursor: pointer;
    width:25px;
    height:25px;
    background:white;
    border-radius:5px;
    border:2px solid #966842;
    font: 18px sans-serif;
	padding: 10px;
	margin-bottom:50px;
	z-index: 2;


} 




.flex-container {
	font-weight: bold;
	color: #543a24;
	position: relative;
	line-height: 0;
	overflow: hidden;
	border-radius: 8px;
	padding:25px;
	border:1px solid #966842;
	background: linear-gradient(130deg, rgba(150,104,66,.5), rgba(255,238,185,.5));
	width: 90%;
	height: 90%;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
	z-index: 1;
}


.choose {
	font-weight: bold;
	font-size:18px;
	color: #785334;
	border-radius: 25px 25px 0 0;
	text-shadow: 1.5px 1.5px 5px #f4e1aa, 1px 1px 5px #ffeeb9;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background: linear-gradient(130deg, rgba(150,104,66,.5), rgba(255,238,185,.5));
  padding: 10px;
  color: #543a24
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(120,83,52, 0.8);
  font-size: 25px;
  text-align: center;
}

.gridlabel {
  width:550px;
  height:50px;
}



button {
	width: 200px;
	height: 75px;
	font-weight: bold;
	font-size: 50px;
	color: #543a24;
	background-color: rgba(255,238,185,.5)
}

button:hover {
cursor: pointer;
color: #ffeeb9;
background-color: rgba(150,104,66, 0.5);

}




